*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    
}
:root{
    --main-color:#0ed3bf;
    --main-transition:5s ease-in ease-out ;

}
.body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.parent{
    background-color: #eee;
}
.container{
    width: auto;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width:768) {
    .container{
        width: 750px;
    }
    
}
@media (min-width:992) {
    .container{
        width: 970px;
    }

}
@media (min-width:1200) {
    .container{
        width: 1170px;
    }
}
/*star header*/
@media screen and (max-width:750px){
    .logo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 0px;
        width: 200px;
        height: 100px;
    }
    .header  .links{
        position: relative;
    }
    
    .header  .links .icons {
        position: absolute;
        right:5px;
        top: -100px;
        width: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin-bottom: 7px;
    }
    .header  .links .icons span{
        background-color: black;
        margin-bottom: 5px;
        height: 3px;
    
    }
    .header .links .icons span:first-child{
        width: 100%;
    }
    .header .links .icons span:nth-child(2){
        width: 50%;
        transition: 0.3s;
    }
    .header  .links .icons span:last-child{
        width: 100%;
    }
    .header  .links:hover .icons span:nth-child(2){
        width: 100%;
    }
    .header  .links ul {
        list-style: none;
        position: absolute;
        margin-top:-70px;
        padding: 0px;
        background-color: rgb(244, 244, 245);
        right: 0px;
        font-size: 30px;
        min-width: 200px;
        top: calc(100%+35px);
        z-index: 1;
        display: none;
    }
    /*.header .links:hover ul{
        display: inline-block;
    }*/
    .header .links ul ::before{
        content: "";
        
        position: absolute;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent rgba(0, 0, 255, 0.308) transparent;
        right: 5px;
        top: -20px;
    }
    .header  .links ul li a{
        display:block;
        padding: 15px;
        text-decoration: none;
        color: black;
        transition: 0.3s;
    }
    .header .links ul li:not(:last-child) a{
        border-bottom: 1px solid blue;
    }
    .header .links ul li a:hover{
        padding-left:  25px;
    }
    .features .container .feat{
        align-items: center;
    }
}
@media screen and (min-width:750px){
        .header{
            top: 0%;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        display: flex;
        background-color: black;
        z-index: 1;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        width: 100%;
        margin:auto;
        right: 0px;
        background-size: cover;
        height: 100px;
        transition: 3s ease-in-out;
        
    }
    
    .logo{
        display: flex;
        margin-left: 0px;
        height: 100%;
        width: 300px;;
        padding: 0px;
        border-radius: 0px 25px 25px 0px;
    }
    .header .links{
        
        display: flex;
        justify-content: space-between;

    }
    .header .links .nav {
        display: flex;
        list-style: none;
        margin-right: 30px;
        
    }
    
    .header .links .nav li  a {
        display: flex;
        flex: 1;
        justify-content: space-between;
        text-align: center;
        align-items:center;
        font-size: 20px;
        color: white;
        text-decoration: none;
        padding: 10px 30px;
        position: relative;
        height: 75px;
        min-width: fit-content;
        border: 0px solid;
        transition: var(--main-transition);
    }
    .header .links ul li a::before{
        content: "";
        position: absolute;
        overflow: hidden;
        right: 5px;
        top: 0px;
        left: -100%;
        height: 5px;
        width: 100%;
        transition: var(--main-transition);
    }
    .header .links ul li a:hover::before{
        background-color: var(--main-color);
        left: 0px;
        
    }
    .header .links ul li a:hover{
        color: var(--main-color);
        box-shadow: 1px 1px 15px rgb(236, 229, 229);
        border-radius: 0px 0px 20px 20px;
        background-color: white;
    }
    
}
/*end header*/
/*start model*/
.model{
    position: fixed;
    display: none;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    transition: 5s ease-in-out; 
}
#fhg:hover{
cursor: pointer;
}
#close{
    position: absolute;
    color: white;
    margin-top: 130px;
    right: 30px;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
}
.formhh{
    display:block;
    align-items: center;
    margin-top: 15%;
    margin-left: 30%;
    margin-right: auto;
    margin-bottom: 50px;
    width: fit-content;
    height: fit-content;
    color: var(--main-color);
    font-size: 30px;
    font-weight: bold;
    border: 0px solid rgba(9, 9, 138, 0.527);
    border-radius: 25px;
    box-shadow: 5px 5px 5px 3px rgba(56, 9, 187, 0.493);
    background-color: rgba(101, 103, 207, 0.568);

}
.formhh{
    animation: zoming 3s ease-in-out;
}

@keyframes zoming{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
.formhh .kl{
    margin-left: 100px;
    width: 400px;
}
.formhh .klk{
    top: 20px;
    margin-left: 45%;
}
.formhh .kll{
    margin-left: 60%;
}
.formhh .kllm{
    margin-left: 0%;
}
.formhh .kli{
    width: 320px;
    margin:10px;
}
.formhh .klll{
    margin-left: 35%;
}
.formhh .klll .in {
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 20px;
}

.formhh .klll .in:hover {
    cursor: pointer;
    background-color: #57bbce;
}
/*end model*/
/*start landing*/

 .landing{
    background-image: url(../css/2.jpg);
    top: 0%;
    background-size: cover;
    height: 100vh;
}

.landing .intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    color: var(--main-color);
    background-color: rgba(0, 0, 0, 0.45);
}
.landing .intro  h1{
    margin:0;
    font-weight: bold;
    font-size: 50px;
    font-weight: bold;

}
.landing .intro p{
    padding: 5px;
    font-size: 30px;
    margin: 0;
}
.landing .intro .seach {
    display: flex;
    margin-top: 100px;
    width: 100%;
    height: 25px;
    align-items: center;
    text-align: center;
    color: var(--main-color);
}
.landing .intro .seach i{
    font-size: 50px;
    font-weight: 900;
}
/*end landing*/
/*start features*/
/*services start*/

.features{
    padding-top: 10px;
    padding-bottom: 0px;
    background-image:linear-gradient(170deg, #57bbce,#f2f2f4);
    margin-bottom: 0px;
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(600px,auto));
    gap: 10px 10px;
    margin-left: 20px;
    margin-bottom: 0px;
    padding-bottom: 80px;
}
.features .ser{
    display: flex;
    align-items: center;
    color: rgba(7, 1, 1, 0.637);
    font-size: 100px;
    font-weight: 800;
    opacity: 0.75;
    padding: 20px;
    margin-left: 40%;
}
.features .container a{
    text-decoration: none;
}
.features .container .feat{
    flex: 1;
    position: relative;
    margin-top: 50px;
    margin-right: 35px;
    margin-left: 35px;
    padding: 10px;
    width: 600px;
    text-align: center;
    border: 0px solid;
    border-radius: 25px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.39);
    background-color:white;
    transition: 2s;
    transition-delay: 1s;
    
}
.features .container .feat .plan{
    display:block;
    transition:3s ease-in-out;
}

.features .container .feat .plan .price{
    position: absolute;
    left: 60%;
    top: 80%;
    display: block;
}
.features .container .feat  .plan .price .link{
    display: block;
    text-decoration:underline;
    transition:3s ease-in-out;
}
.features .container .feat .price .link:hover{
    color: var(--main-color);
}
.features .container .feat .pricee{
    position: absolute;
    left: 10%;
    top: 80%;
    display: block;
}
.features .container .feat .pricee .link{
    display: block;
    text-decoration:underline;
    transition:3s ease-in-out;
}
.features .container .feat .pricee .link:hover{
    color: var(--main-color);
}
.features .container .feat:hover{
    box-shadow: 5px 5px 35px rgba(0, 0, 0, 0.521);
    background-color: #1a4bbe46;
    transform:scale(1.1);

}
.features .container .feat .hhh{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.features .container .feat .im{
    flex: 1;
    width: 300px;
    height: 350px;
    padding: 1px;
    border: 0px solid;
    border-radius: 5%;
    margin-left: 0px;
    margin-right: 1.5rem;
    margin-top: -10px;
}
.features .container .feat h2{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--main-color);
    font-size: 50px;
    font-weight: 600;
    margin: 0px 10px;
    height: 100px;
    width: 100%;
    text-transform: capitalize;
}
.features .container .feat p{
    flex: 1;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.3;
    height: 300px;
    
    display: block;
    color: black;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: bold;
}
/*services end*/
/*index start*/
/*.featuresss{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #b2ffff;
}
/*.featuresss .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(600px,1fr));
    grid: gap 20px;
}

.featuresss .container .we{
    position: relative;
    text-align: center;
    width: 600px;
    height: 400px;
    margin-top: 150px;
    margin-bottom: 30px;
    padding: 20px;
    color: var(--main-color);
    border: 10px 10px solid;
    box-shadow: 5px 5px 5px 3px rgba(255, 255, 255, 0.493);
    border-radius: 20px;
    background-color: rgba(1, 5, 1, 0.568);
}
.we h2{
    border: 0px solid rgba(9, 9, 138, 0.527);
    border-radius: 25px;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    margin-top: -100px;
    background-color: rgba(128, 255, 0, 0.192);
    box-shadow: 5px 5px 5px 3px rgba(255, 255, 255, 0.493);
    background-color: rgba(1, 5, 1, 0.568);
}
.featuresss .container .we p{
    position: absolute;
    font-size:20px;
    line-height: 2.8;
    text-align: center;
    font-weight: bold;
    margin-left: 300px;
}
.featuresss .container .we .are{
    position: absolute;
    width: 300px;
    height: 300px;
    margin-top: 5px;
    margin-left: -295px;
    border-radius: 20px;
    
}*/
/*index end*/
/*concet us start*/
.features .container .form{
    align-items: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: fit-content;
    height: fit-content;
    color: var(--main-color);
    font-size: 30px;
    font-weight: bold;
    border: 0px solid rgba(9, 9, 138, 0.527);
    border-radius: 25px;
    box-shadow: 5px 5px 5px 3px rgba(14, 8, 8, 0.493);
    background-color: rgba(1, 5, 1, 0.315);
}
.features .container .form .kl{
    margin-left: 100px;
    width: 400px;
}
.features .container .form .klk{
    margin-left: 45%;
}
.features .container .form .kll{
    margin-left: 60%;
}
.features .container .form .kllm{
    margin-left: 0%;
}
.features .container .form .kli{
    width: 320px;
    margin:10px;
}
.features .container .form .klll{
    margin-left: 35%;
}
.features .container .form .in{
    margin-left: 20px;
    margin-bottom: 20px;
}
.form .in:hover{
    cursor: pointer; 
}
/*concet us end*/
.slanding {
    background-image:linear-gradient(15deg, #57bbce,#f2f2f4);
    background-size: cover;
    height: 500px;
}
.slanding .active {
    display: block;
    align-items: center;
    text-align: center;
    color: black;
}
.slanding >div {
    display: none;
}
.slanding .active i {
    margin-top: 50px;
    font-weight: bolder;
    font-size: 100px;
}

.slanding .active  h1{
    margin:10px 0;
    font-weight: bold;
    font-size: 40px;
    

}
.slanding .active p{
    padding: 5px;
    font-weight: bold;
    font-size: 30px;
    margin:10px 0;
}
.foot{
    font-size:20px;
    line-height: 1.8;
    text-align: center;
    font-weight: bold;
    height: auto;
    color: var(--main-color);
    background-color: black;
    margin-top: -20px;
    margin-bottom: -30px;
    padding: 0px;
}
.features .container .kform{
    align-items: center;

    margin-top: 50px;
    margin-left: 50px;
    margin-right: auto;
    margin-bottom: 50px;
    width: fit-content;
    height: fit-content;
    color: rgba(6, 6, 36, 0.466);
    font-size: 30px;
    font-weight: bold;
    border: 0px solid rgba(9, 9, 138, 0.527);
    border-radius: 25px;
    box-shadow: 5px 5px 5px 3px rgba(14, 8, 8, 0.493);
    background: rgba(255, 255, 255, 0.2);
}
.features .container .kform .kl{
    margin-left: 100px;
    width: 400px;
}
.features .container .kform .klk{
    margin-left: 45%;
}
.features .container .kform .kll{
    margin-left: 60%;
}
.features .container .kform .kllm{
    margin-left: 0%;
}
.features .container .kform .kli{
    width: 320px;
    height: 30px;
    margin:10px;
}
.features .container .kform .klii{
    width: 320px;
    margin:10px;
}
.features .container .kform .klll{
    margin-left: 25%;
}
.features .container .kform .in{
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 20px;
}
.kform .in:hover{
    cursor: pointer; 
    background-color: #57bbce;
}
.features .container .aad{
    position: absolute;
    margin-top: 200px;
    margin-left: 50%;
    font-size: 30px;
    font-weight: bolder;
    text-transform: capitalize;
}


